    <header>
        <nav class="nav">
            <div class="container">
                <div class="logo">LOGO</div>
                <ul>
                    <li><a href="#block1">О Нас</a></li>
                    <li><a href="https://jobster.hr/#clients">Партнёры</a></li>
                    <li><a href="https://jobster.hr/#benefits">Преимущества</a></li>
                    <li><a href="https://jobster.hr/#price">Тарифы</a></li>
                    <li><a href="https://jobster.hr/#faqs">FAQ</a></li>
                    <li><a href="https://jobster.hr/#reviews">Отзывы</a></li>
                    <li><a href="#block3" class="button">Оценка компетенций</a></li>
                </ul>
            </div>
        </nav>
    </header>